#container-grille {
  width: 90%;
  margin: 15px auto 0 auto;
  max-width: 650px;
  line-height: 0;
}

.cell {
  display: inline-block;
  /* box-sizing à border-box permet d'indiquer que la taille de la border n'influera pas sur la taille du block */
  /* sans ça, la taille de la bordure s'ajoute implicitement à la taille di block, et il devient difficile */
  /* de savoir quelle taille a exactement le block */
  box-sizing: border-box;
  background-color: orange;
  border: solid 1px rebeccapurple;
  margin: 0;
  padding: 0;
}